# Compiled
*.elc
*.lib
*.fas
*.dat
*.eld
*.eln

# Packaging
.cask

# Emacs backup
*.*~

# Mac stuff
.DS_Store

# Most of what goes in eshell/ is machine specific, but I want to preserve my aliases file
eshell/*
!eshell/alias

auto-save-list/
elpa/
private/
.cache/
custom.el
.mc-lists.el
tramp
semanticdb
url/
transient/
org-roam.db
eln-cache/
